services:
  - type: web
    name: denominator-is-worthless
    runtime: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: JWT_SECRET
        generateValue: true
      - key: MONGODB_URI
        fromDatabase:
          name: denominator-mongodb
          property: connectionString

databases:
  - name: denominator-mongodb
    databaseName: denominator
    user: denominator
    plan: free
